<!DOCTYPE html>
<head>
    {{ "<!--
        
    .-.    _       .-.   .-.      
    : :   :_;      : :  .' `.     
    : :   .-. .--. : `-.`. .'.--. 
    : :__ : :' .; :: .. :: :`._-.'
    :___.':_;`._. ;:_;:_;:_;`.__.'
              .-. :               
              `._.'               
    2015

    -->" }}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content='{% block meta_description %}{% endblock %}' name='description' />
    <meta content='{% block meta_content %}{% endblock %}' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0,user-scalable=yes' />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    {%- for item in css -%}
        <link rel="stylesheet" href="{{ item }}" type="text/css"/>
    {%- endfor -%}
</head>
<body>
{% block header %}
    {% include 'header/wrap.html' %}
{% endblock %}
{% include 'regions/left.html' %}

<main>{% block content %}{% endblock %}</main>

{% block overlays %}

<div id="full-screen-container" class="overlay thidden">
    <div class="overlay-shadow"></div>
    <div class="overlay-container full-screen-content">
        <header>
            <div class="name">Posted by <a href='#'>@nikki</a></div>
            <div class="votes"></div>
        </header>
        <div class="overlay-content">

        </div>
        <div class='overlay-hint'>Click on the dark area to close or press Esc</div>
    </div>
</div>

<div id='gnpo' class='overlay thidden'>
    <div class='overlay-shadow'></div>
    <div class='overlay-container'>
        <div class='overlay-title'>New post</div>
        <div class='overlay-content'>

            <div class='textarea-container'>
                <textarea id='post-overlay-textarea' class='gnpo-textarea' name='post-content'
                          placeholder="What's new? :)" autocapitalize="off" autocorrect="off"
                          autocomplete="off" spellcheck="false" maxlength=''></textarea>
            </div>
            <div class='action-bar'>
                <input type="submit" class="green-button button" id='post-overlay-submit' value="Post it" />
                <input type='file' multiple id='post-overlay-attach' class="fake-input" />
                <div class="attachments-input button">
                    Attach
                </div>

                <div class='hint'>You can use {{ ' ' }} <kbd>Ctrl + Enter</kbd> {{ ' ' }} to post</div>
            </div>
            <ul id='post-overlay-attachments' class="attachments-list"></ul>

        </div>
        <div id='post-overlay-reply' class='reply'>
            <span class='hint'>In reply to</span>
            <span class='hint no-reply'>Don't reply</span>
        </div>
        <div class='overlay-hint'>Click on the dark area to close or press {{ " " }} <kbd>Esc</kbd></div>
    </div>
</div>

<div id='noto' class='overlay thidden'>
    <div class='overlay-container'>
        <div class='overlay-title'>Unread notifications</div>
        <div class='overlay-content'>
            <ul class='notifications-list'>
                {% for id, markup in notifications.items() %}
                    <li data-id='{{ id }}'><div class='mark-read'>Mark as read</div>{{ markup }}</li> 
                {% endfor %}
            </ul>
            <button class="mark-all-read button">
                Mark all read
            </button>

        </div>
        <div class='overlay-hint'>Click on the dark area to close or press {{ " " }} <kbd>Esc</kbd></div>
    </div>
    <div class='overlay-shadow'></div>
</div>

<div id='giuo' class='overlay thidden'>
    <div class='overlay-shadow'></div>
    <div class='overlay-container'>
        <div class='overlay-title'>Upload pictures</div>

        <div class='overlay-content upload-overlay-content'>
            <p>
                Just select some images from your computer and we'll take care of 'em. 
                Additionaly, you can provide the URL of an image you want to upload.
            </p>

            <input type='file' id='images-upload-input' multiple='multiple' class='fake-input'/>
            <div id='images-upload-select' class="button big-button white-button">Choose files</div>
            <input type='text' id='upload-images-url' placeholder='Insert URL and press Enter' autocomplete="off" spellcheck='false'/>
            <div class="action-bar">
                <div class='hint' id='images-upload-hint'>
                    PNG, GIFs and JPGs are allowed
                </div>
            </div>
        </div>
        <div class='overlay-hint'>Click on the dark zone to close</div>
    </div>
</div>
{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

{% block js %}
<script>
'use strict';

console.log('Hey there! Have something to suggest? Visit the Headquarters!');
console.log('TEST');
var lenv = {
    domain: document.domain,
    xhr: '/api/02',
    urlparts: window.location.pathname.split('/'),
    content_types: JSON.parse('{{ CONTENT_TYPES_JSON }}' || null),
    default_avatar: '{{ DEFAULT_AVATAR }}'
};

// Information about the current account

lenv.account = {
    logged: Number("{{ 1 if loggedin else 0 }}"),
    current: "{{ current.record.name|e if loggedin else '' }}",
    id: '{{ current.record.id|e if loggedin else "" }}',
    notifications: JSON.parse("{{ notifications_json or {} }}")
};

console.log('You are', lenv.account.logged ? '' : 'not', 'logged');

// Users can send post and messages from any page of the site, so we 
// got to initialize the attachment vault globally.

lenv.PostAttachments = [];
lenv.MessageAttachments = [];


/*
    WebSocket communication, notifications etc.
*/

lenv.streaming = new WebSocket('ws://' + lenv.domain + ':3671');

lenv.streaming.onmessage = function (event) {
    var sent = JSON.parse(event.data);
    if (sent.action == 'feed') {
        $('.feed').prepend(sent.markup);
    } else if (sent.action == 'notification') {
        // FIXME: clever code to display it
    }
}

/*
    Posts: CRD interface
*/

lenv.posts = {
    create: function(data, cb) {
        var fd = new FormData, params;

        // Add the attachments and content to the FormData instance
        if (data.attachments) {
            for (var i = data.attachments.length - 1; i >= 0; i--) {
                if (data.attachments[i]) // Can be null
                    fd.append('attachment', data.attachments[i].file);
            }
        }

        if (data.content)
            fd.append('content', data.content);

        // Id and type of the base item
        if (data.image)
            fd.append('image', data.image);
        else if (data.post)
            fd.append('post', data.post);
        else;

        // POST request
        console.log('lenv.posts.create', data)
        $.ajax({
            type: 'POST',
            url: lenv.xhr + '/posts',
            data: fd,
            processData: false,
            contentType: false,
            success: function(data) { cb(data) }
        });
    },
    load: function(data, cb) {
        $.ajax({
            url: lenv.xhr + '/posts?' + $.param(data),
            success: function (data) { cb(data) }
        });
    },
    delete: function(ids, cb) {
        $.ajax({
            url: lenv.xhr + '/posts?ids=' + JSON.stringify(ids),
            type: 'DELETE',
            success: function (data) { cb(data) }
        })
    }
};


/*
    Images: CRD interface
*/


lenv.images = {
    load: function(data, cb) {
        $.ajax({
            url: lenv.xhr + '/images?' + $.param(data),
            success: function (data) {
                cb(data);
            }
        });
    },
    upload: function (data, cb) {
        var fd = new FormData;

        // Add images to the FormData instance

        for (var i = 0; i < (data.files || []).length; i++) 
            fd.append('image', data.files[i]);

        var params = $.param({
            url: data.url || null,
            id: data.id || null,
            set: data.set || null
        });
        $.ajax({
            url: lenv.xhr + '/images?' + params,
            type: 'POST',
            data: fd,
            processData: false,
            contentType: false,
            success: function(data) { cb(data) }
        });
    },
    delete: function (ids, cb) {
        $.ajax({
            url: lenv.xhr + '/images?ids=' + JSON.stringify(ids),
            type: 'DELETE',
            success: function (data) { cb(data) }
        });
    }
};


/*
    Account: update only interface
*/

lenv.account_data = {
    get: function (data, cb) {
        $.ajax({
            url: lenv.xhr + '/records?' + $.param(data),
            success: function (data) { cb(data) }
        })
    },
    update: function (data, cb) {
        $.ajax({
            type: 'PUT',
            url: lenv.xhr + '/records/set', // Empty values will be eliminated anyway
            data: JSON.stringify(data),
            success: function (data) { cb(data) }
        })
    },
    unset: function (data, cb) {
        $.ajax({
            url: lenv.xhr + '/records/unset',
            type: 'PUT',
            data: data,
            success: function(data) {
                console.log(data);
            }
        });
    }
};


lenv.notifications  = {
    get: function(data, cb) {
        $.ajax({
            url: lenv.xhr + '/notifications',
            success: function(data) {
                console.log(data)
            }
        })
    },
    delete: function(ids) {
        if (typeof ids != 'undefined') {
            $.ajax({
                url: lenv.xhr + '/notifications',
                type: 'DELETE',
                data: JSON.stringify({'ids': ids}),
                success: function(data) {
                    console.log(data)
                }
            });
        } else {
            $.ajax({
                url: lenv.xhr + '/notifications',
                type: 'DELETE',
                success: function(data) {
                    console.log(data)
                }
            });
        }
    }
}

/*
    
    FILE OPERATIONS
    
*/

/*
    Determine the image type by starting bytes. 
    See the configuration file for the list of supported
    image types.
    `contents` is the result of readAsBinaryString method of FileReader.
*/
function image_type(contents) {

    var bytes = '';
    for (var i = 0; i < 4; i++)
        bytes += contents[i].charCodeAt(0).toString(16).toLowerCase();

    if (bytes == '47494638') {
        return ['image', 'gif'];
    } else if (bytes == '89504e47') {
        return ['image', 'png'];
    } else {
        var nextbytes = '';
        // From 6th to 10th byte
        for (var i = 6; i < 10; i++) 
            nextbytes += contents[i].charCodeAt(0).toString(16).toLowerCase();
        if (!bytes.indexOf('ffd8ff') && (nextbytes == '4a464946' || nextbytes == '45786966'))
            return ['image', 'jpeg'];
        return false;   
    }
}

/*
    Add all files from `input.files` to `storage` and display them
    in `box`
*/
function attach(input, box, storage) {

    // Check if file is a valid attachment (used only inside `attach`)

    function _valid(file) {
        var res = file.slice(0, 10),
            reader = new FileReader;
        reader.onload = function(ev) {
            var type = image_type(ev.target.result) || false;
            console.log('Name:', file.name, 'detected type:', type, 'size:', file.size);
            // 10 Megabytes 
            // FIXME: Add the value from config
            if (type && file.size <= 10 * 1024 * 1024) {
                // For data URL
                reader = new FileReader();
                // Read the full file
                reader.onload = function(e) { 
                    // Construct data URI for displaying
                    var uri = 'data:' + type[0] + '/' + type[1] + ';';
                    uri += 'base64,' + btoa(e.target.result);
                    storage.push({file: file, url: uri, type: type});

                    var at = $('<li>'),
                        arrow = $('<div>', {'class': 'arrow'})

                    $('<div>', {'class': 'fill', 
                                style: 'background-image: url(' + uri + ');' + 'height: 60px'
                                }).appendTo(at);
                    
                    arrow.append($('<div>', {'class': 'delete', 'attachment-id': storage.length}));
                    arrow.appendTo(at)
                    box.append(at);

                    // Allows to select the same file
                    input.value = null;
                }
                reader.readAsBinaryString(file);
            }
        }
        reader.readAsBinaryString(res);
    }
    for (var i = 0; i < input.files.length; i++)
        _valid(input.files[i]);
}


/*
    
    COMMON UI OPS
    
*/

/*
    Scroll to the top of the page
*/
$.fn.stt = function(speed) {
    var $this = $(this);
    $this.hide();
    if ( $(window).scrollTop() !=0 ) {
        $this.show();
    }
    $(window).scroll(function() {
        if($(window).scrollTop() == 0){
            $this.stop(true,true).fadeOut(150);
        } else {
            $this.fadeIn(150);
        }
    });
    $($this).click(function(e){
        e.preventDefault();
        $("html,body").animate({ scrollTop: 0 }, speed);
    });
}


/*
    Submit on Ctrl + Enter
*/
$.fn.ctrlEnter = function (btns, fn) {
    // IIFE fits here perfectly, as without it we get problems when
    // there're more than 1 form on the page.
    (function(thiz, buttons){

        function performAction (e) {
            fn.call(thiz, e);
            return false;
        }

        buttons.bind("click", performAction);

        thiz.keydown(function (e) {
            if (e.keyCode === 13 && e.ctrlKey) {
                performAction(e);
                e.preventDefault();
            }
        });

    })($(this), $(btns));

}

/*

    OVERLAYS

*/



// POSTS

$('#post-overlay-reply .no-reply').click(function() {
    $('#post-overlay-reply').hide();
    $('.post-container', '#post-overlay-reply').remove();
});

$('#show-gnpo').click(function() {
    $('#gnpo').show(50);
    $('#post-overlay-reply .no-reply').trigger('click');
    $('#post-overlay-textarea').focus();
});

$('#gnpo .attachments-input').click(function() {
    $('#post-overlay-attach').trigger('click');
});

document.getElementById('post-overlay-attach').addEventListener('change', function() {
    attach(this, $('#post-overlay-attachments'), lenv.PostAttachments);
});

$(document).on('click', '#post-overlay-attachments .delete', function(e) {
    var id = +$(this).attr('attachment-id');
    $(this).parents().eq(1).remove()
    lenv.PostAttachments[id - 1] = null;
});

$('#post-overlay-textarea').ctrlEnter('#post-overlay-submit', function() {
    var target = $('.post-container', '#post-overlay-reply');
    lenv.posts.create({
        content: $(this).val(), 
        attachments: lenv.PostAttachments,
        post: target.attr('post-id') || null
    }, function(data) {
        $(".hint", '#gnpo .action-bar').html(data.text);
        console.log(data)
        if (data.success) {
            $('#post-overlay-reply .no-reply').trigger('click');
            lenv.PostAttachments.length = 0;
            $(this).val('');
            $('#gnpo').hide();
            $('#post-overlay-attachments').empty();
        }
    });
});


// IMAGES

$('.images-upload-dialog').click(function() {
    $('#giuo').show();
});

$('#images-upload-select').click(function() {
    $('#images-upload-input').click();
});


$('#upload-images-url').change(function() {
    lenv.images.upload({url: $(this).val()}, function(data) {
        $('#giuo .hint').html(data.text);
    });
});

document.getElementById('images-upload-input').addEventListener("change", function () {
    lenv.images.upload({files: this.files}, function(data){
        console.log(data.text)
        $('#giuo .hint').html(data.text);
    });
}, false);


/* NOTIFICATIONS */


$('#show-noto').click(function() {
    $('#noto').show(50);
});

$('.mark-read', '#noto').click(function() {
    var not_container = $(this).parent();
    lenv.notifications.delete([not_container.data('id')])
    not_container.remove();
});

$('.mark-all-read', '#noto').click(function() {
    lenv.notifications.delete()
    $('.overlay-shadow').trigger('click');
});

/*
    
    SITE-WIDE EVENT BINDINGS

*/


// Esc must close the overlay in any case
$(document).keydown(function(e) {
    if (e.keyCode == 27) 
        $('.overlay-shadow').trigger('click');
});

$('.overlay-shadow').click(function() {
    $('.overlay').hide();
});
    
$('.displayable').click(function() {
    var item = $(this);
    var type = Number($(this).attr('type')),
        id = $(this).attr('item-id');
    $('.showcase').show();
    if (type == lenv.content_types.image) {
        lenv.images.load({id: id, showcase: 1}, function(data) {
            if (data.success) {
                $('.showcase').remove();
                var new_sc = $(data.showcase);
                // new id
                new_sc.attr('id', 'showcase');
                new_sc.insertAfter(item);
                location.href = "#showcase";
            }
        });
    }

});

$(document).on('click', '.vote-button', function () {
    var button = $(this),
        action = button.attr('action'),
        params;

    if (button.attr('post-id')) params = {'post': button.attr('post-id')}
    else params = {'image': button.attr('image-id')} 

    $.ajax({
        url: lenv.xhr + '/ratings/' + action + '?' + $.param(params),
        type: 'PUT',
        success: function (data) {
            console.log(data);
            button.attr('action', (action != 'unvote') ? 'unvote' : button.attr('bound'));
        }
    })
});

$(document).on('click', '.fix-post-button', function () {
    var post_id = $(this).attr('post-id');
    console.log(post_id);
    lenv.records.update({'fixed_post': post_id}, function () {});
});

$(document).on('click', '.unfix-post-button', function () {
    lenv.records.unset(['fixed_post'], function () {});
});

$(document).on('click', '.delete-post-button', function () {
    var post_id = $(this).attr('post-id');
    lenv.posts.delete([post_id], function(html) {
         console.log(html);
    });
});

$(document).on('click', '.share-post-button', function () {
    var post_id = $(this).attr('post-id');
    lenv.posts.create({'post': post_id});
});

$(document).on('click', '.reply-to-post-button', function () {
    var post = $('#post-' + $(this).attr('post-id')),
        cloned = post.clone(true, true); // Do not copy events?
    $('#post-overlay-reply .no-reply').trigger('click');
    cloned.addClass('small-post');
    cloned.appendTo('#gnpo .reply');
    $('#gnpo .reply').show();   
    $('#gnpo').show();
});

</script>
{% endblock %}

{% block wrap_part %}
<script type="text/javascript">

$(document).ready(function () {

    // Header buttons and actions

    $(".action-header-toggle").click(function() {

        $(".action-header").slideToggle(150, function(){
            $('.action-header-toggle').toggleClass('expanded');
        });

        $('.header-action-field').focus();
    });

    $("li.link-to-top", 'nav.left-nav > ul').stt(25);
});

</script>
{% endblock %}
</body>
</html>